<div class="squatch-actions" data-referrals="{{#if referredBy.dateReferred}}{{#if referredBy.hasCancelledReferredReward}}{{nonCancelledReferralAndRewardsListLength}}{{else}}{{math nonCancelledReferralAndRewardsListLength '+ 1'}}{{/if}}{{else}}{{nonCancelledReferralAndRewardsListLength}}{{/if}}"
  {{#if referredBy.hasCancelledReferredReward}}
    data-referredBy="0"
  {{else}}
    {{#unless referredBy.dateReferred}}
        data-referredBy="0"
    {{/unless}}  
  {{/if}}
>


  {{> attribution}}
</div>
